body {
    background-color: lightblue;
}

#page-heading {
    text-align: center;
}

#login-form {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    padding: 24px;
}

.input-field {
    width: 100%;
    /* border: 0; */
    outline: none;
}

.input-label {
    margin: 0;
    margin-top: 12px;
}

#btn-submit {
    margin-top: 16px;
}

#answer-box {
    width: 100%;
    height: 150px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 16px;
}